#gopng_tel_outer {
height: 14px;
width: 14px;
overflow: hidden;
}
#gopng_tel {
background: url(http://gopng/static/images/sprite.png) -0px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 0px;
_margin-left: -0px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
#gopng_mail_outer {
height: 13px;
width: 16px;
overflow: hidden;
}
#gopng_mail {
background: url(http://gopng/static/images/sprite.png) -14px -0px no-repeat;
width: 100%;
height: 100%;
_background: none;
_padding-left: 14px;
_margin-left: -14px;
_padding-top: 0px;
_margin-top: -0px;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="http://gopng/static/images/sprite.png");
}
